@import "../../../assets/styles/colors.scss";

.button-container {
    background-color: var(--secondary);
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 2px 3px 0px var(--box-shadow);
}

.button-container:active {
    box-shadow: none;
}