@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.details-skeleton-general {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 2px;
    border-radius: 5px;
}

.details-skeleton-container {
    background-color: white;
    border-radius: 5px;
}

.details-skeleton-button {
    width: 50px;
    height: 30px;
}

.details-skeleton-main-descriptor {
    width: 80%;
    height: 30px;
}

.details-skeleton-image-placeholder {
    width: 190px;
    height: 190px;
}

.details-skeleton-second-descriptor {
    width: 50%;
    height: 20px;
}

.details-skeleton-loading {
    position: relative;
    overflow: hidden;
}

.details-skeleton-loading::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, transparent, rgba(180, 180, 180, 0.6), transparent);
    animation: loading 2s infinite;
}
