.folder-view-container {
    max-width: 800px;
}

.folder-child {
    margin: 1px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.folder-child:hover {
    background-color: lightblue;
}

.folder-child:first-child {
    margin-top: 10px;
}

.folder-child-name {
    padding-left: 10px;
}

.folder-child:last-child {
    margin-bottom: 10px;
}

.child-container {
    width: 100%;
    height: 290px;
    overflow-x: visible;
    overflow-y: scroll;
    padding: 5px;
}

.child-image {
    width: 100px;
    height: 100px;
}
