.folder-view-container {
    max-width: 800px;
}

.folder-child {
    border: 1px solid lightgray;
    border-radius: 7px;
}

.folder-child:hover {
    background-color: lightblue;
}

.folder-child:first-child {
    margin-top: 10px;
}

.folder-child-name {
    padding-left: 10px;
}

.folder-child:last-child {
    margin-bottom: 10px;
}
