@import "../../../assets/styles/colors.scss";

.toolbar-container {
    height: 50px;
    width: 100%;
    background-color: var(--primary);
    box-shadow: 0px 3px 3px 0px var(--box-shadow);
    display: flex;
    align-items: center;
    position: sticky;

    .title {
        margin-left: 75px;
        float: left;
        cursor: pointer;
        color: var(--base);
    }

    @media screen and (max-width: 600px) {
        .title {
            font-size: 24px;
        }
    }

    @media screen and(min-width: 600px) {
        .title {
            font-size: 30px;
        }
    }

    .options {
        float: right;
    }
}