@import "../../../assets/styles/colors.scss";

.toolbar-container {
    height: 50px;
    width: 100%;
    background-color: var(--primary);
    box-shadow: 0px 3px 3px 0px var(--box-shadow);
    display: flex;
    align-items: center;
    position: sticky;

    .title {
        font-size: 30px;
        padding-left: 75px;
        float: left;
    }

    .options {
        float: right;
    }
}