.theme-light {
    --base: #ffffff;
    --primary: #6b7a8f;
    --secondary: #f7882f;
    --invert: #000000;
    --box-shadow: rgba(0, 0, 0, 0.25);
}

.theme-dark {
    --base: #121212;
    --primary: #232323;
    --secondary: #6b7a8f;
    --invert: #ffffff;
    --box-shadow: rgba(255, 255, 255, 0.25);
}